.behaviourAttr {
    padding: 40px 80px 0 80px;
}

    .behaviourAttr * {
        font-size: 23px;
        text-indent: 30px;
    }

    .behaviourAttr h1{
        font-size: 60px;
    }

    .behaviourAttr .icon.home {
        width: 35px;
        height: 35px;
    }