@page "/behaviourAttr/lmtautocomp"

<AttrDetail name="lmt-autocomp" type="0" minJsApi="0.1" minDomApi="Any" minCookieApi="Any" summary="Add suggesting ability for completion." value="(required) Key words for suggestion, separated by comma">
    <p>After being focused, element with lmt-autocomp will show a completion box for convenience.</p>
    <p>lmt-autocomp is not case-sensitive.</p>
    <Demo codes=@(new[]{"<input style=\"width: 100%\" type=\"text\" placeholder=\"Type any name of a programming language\" lmt-autocomp=\"C#,C++,C,Java,Ruby,Python\"/>"})>
        <input style="width: 100%" type="text" placeholder="Type any name of a programming language" lmt-autocomp="C#,C++,C,Java,Ruby,Python"/>
    </Demo>
</AttrDetail>

@functions{
    protected override async Task OnAfterRenderAsync()
    {
        LMTBehaviours();
    }
}
