<div style="display: none" 
     class="navMenu" 
     lmt-accord 
     lmt-fx="slide,navOpen">
    <h2>Behaviour attributes</h2>
    <div>
        <ul>
            <li><a>lmt-drag</a></li>
            <li><a>lmt-resize</a></li>
            <li><a>lmt-select</a></li>
            <li><a>lmt-sort</a></li>
            <li><a>lmt-readonly</a></li>
            <li><a>lmt-val-guid</a></li>
            <li><a>lmt-val-num</a></li>
            <li><a>lmt-accord</a></li>
            <li><a>lmt-autocomp</a></li>
            <li><a>lmt-date</a></li>
            <li><a>lmt-dialog</a></li>
            <li><a>lmt-tip</a></li>
            <li><a>lmt-bm</a></li>
            <li><a>lmt-bm-name</a></li>
            <li><a>lmt-bm-autoplay</a></li>
            <li><a>lmt-bm-loop</a></li>
            <li><a>lmt-bm-speed</a></li>
            <li><a>lmt-bm-direction</a></li>
            <li><a>lmt-filter</a></li>
            <li><a>lmt-grid</a></li>
            <li><a>lmt-grid-fluid</a></li>
            <li><a>lmt-skeleton</a></li>
            <li><a>lmt-scroll</a></li>
            <li><a>lmt-scroll-to</a></li>
            <li><a>lmt-scroll-move</a></li>
            <li><a>lmt-fx</a></li>
            <li><a>lmt-fx-duration</a></li>
            <li><a>lmt-fx-to</a></li>
            <li><a>lmt-fx-class</a></li>
            <li><a>lmt-fx-size</a></li>
            <li><a>lmt-fx-percent</a></li>
        </ul>
    </div>
    <h2>Blazor Components</h2>
    <div>
        <p>(Not yet released)</p>
    </div>
    <h2>Pure Js</h2>
    <div>
        <ul>
            <li><a>Eval()</a></li>
        </ul>
    </div>
    <h2>jQuery Core</h2>
    <div>
        <ul>
            <li><a>_()</a></li>
        </ul>
    </div>
    <h2>jQuery Css</h2>
    <div>
        <ul>
            <li><a>.AddClass()</a></li>
            <li><a>.Css()</a></li>
            <li><a>.HasClass()</a></li>
            <li><a>.Height()</a></li>
            <li><a>.InnerHeight()</a></li>
            <li><a>.InnerWidth()</a></li>
            <li><a>.Offset()</a></li>
            <li><a>.RemoveClass()</a></li>
            <li><a>.ToggleClass()</a></li>
            <li><a>.Width()</a></li>
        </ul>
    </div>
    <h2>jQuery Attribute</h2>
    <div>
        <ul>
            <li><a>.AddClass()</a></li>
            <li><a>.Attr()</a></li>
            <li><a>.HasClass()</a></li>
            <li><a>.Html()</a></li>
            <li><a>.Prop()</a></li>
            <li><a>.RemoveAttr()</a></li>
            <li><a>.RemoveClass()</a></li>
            <li><a>.RemoveProp()</a></li>
            <li><a>.ToggleClass()</a></li>
            <li><a>.Val()</a></li>
        </ul>
    </div>
    <h2>jQuery Effects</h2>
    <div>
        <ul>
            <li><a>.Animate()</a></li>
            <li><a>.Toggle()</a></li>
        </ul>
    </div>
    <h2>jQuery Events</h2>
    <div>
        <ul>
            <li><a>.On()</a></li>
        </ul>
    </div>
</div>

@functions {
}
